n8n/workflows/export_commissions_v1.json
{
  "name": "Export Commissions v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "export-commissions",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Export Commissions",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 0],
      "webhookId": "export-commissions"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json.headers['x-secret'] }}",
              "rightValue": "{{FINANCE_WEBHOOK_SECRET}}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "auth-check",
      "name": "Authenticate Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\", \"code\": 401 }",
        "options": {
          "responseCode": 401
        }
      },
      "id": "auth-fail",
      "name": "Auth Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id, c.creator_id, cr.email as creator_email, c.order_id, c.order_total, c.commission_amount, c.commission_rate, c.status, c.created_at, c.paid_at, o.customer_email, o.total_amount as order_total FROM commissions c JOIN creators cr ON cr.id = c.creator_id LEFT JOIN orders o ON o.id = c.order_id WHERE c.created_at >= '{{ $json.body.start_date }}'::date AND c.created_at < '{{ $json.body.end_date }}'::date + interval '1 day' {{ $json.body.status ? \"AND c.status = '\" + $json.body.status + \"'\" : '' }} ORDER BY c.created_at DESC",
        "options": {}
      },
      "id": "fetch-commissions",
      "name": "Fetch Commissions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [440, 0],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const commissions = $input.all();\nconst format = $node['Webhook - Export Commissions'].json.body.format || 'csv';\n\nif (format === 'json') {\n  return {\n    format: 'json',\n    data: commissions.map(c => c.json),\n    count: commissions.length\n  };\n}\n\n// CSV format\nconst headers = [\n  'ID',\n  'Date Creation',\n  'Creator ID',\n  'Creator Email',\n  'Order ID',\n  'Commission Rate',\n  'Commission Amount',\n  'Status',\n  'Paid At',\n  'Customer Email',\n  'Order Total'\n];\n\nconst rows = commissions.map(c => {\n  const d = c.json;\n  return [\n    d.id,\n    d.created_at,\n    d.creator_id,\n    d.creator_email || '',\n    d.order_id || '',\n    d.commission_rate || '',\n    d.commission_amount,\n    d.status,\n    d.paid_at || '',\n    d.customer_email || '',\n    d.order_total || ''\n  ].join(',');\n});\n\nconst csv = [headers.join(','), ...rows].join('\\n');\n\nreturn {\n  format: 'csv',\n  data: csv,\n  count: commissions.length,\n  filename: `commissions_${$node['Webhook - Export Commissions'].json.body.start_date}_${$node['Webhook - Export Commissions'].json.body.end_date}.csv`\n};"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-csv",
              "leftValue": "={{ $json.format }}",
              "rightValue": "csv",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-format",
      "name": "Check Format",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.data }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/csv"
              },
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=\"{{ $json.filename }}\""
              },
              {
                "name": "X-Total-Count",
                "value": "={{ $json.count }}"
              }
            ]
          }
        }
      },
      "id": "csv-response",
      "name": "CSV Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"count\": {{ $json.count }},\n  \"data\": {{ JSON.stringify($json.data) }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "json-response",
      "name": "JSON Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 100]
    }
  ],
  "connections": {
    "Webhook - Export Commissions": {
      "main": [
        [
          {
            "node": "Authenticate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate Request": {
      "main": [
        [
          {
            "node": "Fetch Commissions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Commissions": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Check Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Format": {
      "main": [
        [
          {
            "node": "CSV Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "finance",
      "name": "finance"
    },
    {
      "id": "export",
      "name": "export"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-20T00:00:00.000Z",
  "versionId": "1.0.1"
}
